{% set gdpr_enabled=(gdpr and gdpr.is_enabled(request)) %}
{% if not mailchimp_enabled %}
    {% if request.user.is_superuser %}
    <section class="newsletter-lift">
        {% trans %}The newsletter cannot be shown because Mailchimp is not connected.{% endtrans %}
    </section>
    {% endif %}
{% else %}
<section class="newsletter-lift">
    <h2 class="text-uppercase text-center">{{ title }}</h2>
    <p class="lead text-center">{{ lead }}</p>
    <form class="newsletter-subscription" method="POST" action="{{ url("shuup:subscribe_newsletter") }}">
        <div class="form-group">
            <label for="subscribe" class="sr-only">{{ input_placeholder_text }}</label>
            <div class="input-group">
                <input id="subscribe" type="email" name="email" class="form-control" placeholder="{{ input_placeholder_text }}">
                <span class="input-group-btn">
                    <button class="btn btn-primary form-control">{{ link_title }}</button>
                </span>
            </div>
            <div class="newsletter-error text-danger"></div>
        </div>
        {% if gdpr_enabled %}
            <div class="gdpr-documents text-center">
                {% for document in gdpr.get_documents(request) %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="gdpr_doc" name="{{ "gdpr_doc_{}".format(document.id) }}" />
                        {{ _("I have read and agree to <a href='{}' target='_blank'>{}</a>").format(
                            url("shuup:cms_page", url=document.url), document.title
                        )|safe }}
                    </label>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </form>
</section>

<script>
function sendSubscription(form) {
    var checkGDPR = {% if gdpr_enabled %}true{% else %}false{% endif %};

    if (checkGDPR && $(".gdpr_doc")) {
        var allAccepted = Array.from(document.getElementsByClassName("gdpr_doc")).map(function (el) {
            return el.checked;
        }).filter(function (value) { return !value; });
        if (allAccepted.length) {
            $(".newsletter-error").html('<p class="text-danger">' + gettext("You must accept to all terms.") +'</p>');
            return;
        }
    }

    $.ajax({
        type: $(form).attr("method"),
        url: form.action,
        data: $(form).serialize(),
        context: "json",
        success: function () {
            $(".newsletter-error").html('<p class="text-success">{{ success_message }}</p>');
            $("form.newsletter-subscription").trigger("reset");
        },
        error: function () {
            $(".newsletter-error").html('<p class="text-danger">{{ error_message }}</p>');
        }
    });
}
</script>
{% endif %}
